* {
  font-family: 'Slabo 27px', serif;
}

footer {
  text-align: center;
}
.page {
    margin: 50px auto 30px auto;
    width: 60%;
    border: 3px solid beige;
    border-radius: 5px;
    padding: 10px;
    background-color: beige;
}
section {
    margin: auto;
    width: 60%;
/*     border: 3px solid #73AD21; */
    padding: 10px;
}

.leading {
  text-align: center;
}

.image {
  text-align: center;
  background color: white;
  border: 1px solid grey;
  margin: 0px 140px 10px 140px;
  border-radius: 5px;
  font-size: 25px;
}

img {
  border-radius: 5px 5px 0px 0px;
}

.quote {
  font-size: 20px;
}

.quote-reference {
  color: grey;
}

.ending {
  text-align: center;
  margin-left: 120px;
  margin-right: 120px;
}

